@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,400);

body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-weight:300; text-align: center;
}

.content{
	text-align: center
}


.nav {
	background-color: #050000; font-weight: 300; text-align: center; font-size: large; 
}

.nav a{
	color: #00fbde;text-decoration:none;
}


p{
	text-align: center; text-decoration:none;
}